trigger:
  branches:
    include:
      - main
  paths:
    include:
      - {{.Name}}/**
      - pkg/**

pool:
  vmImage: ubuntu-latest

variables:
  serviceName: {{.Name}}

steps:
  - task: GoTool@0
    inputs:
      version: '1.25.0'
  - script: go test -race ./{{.Name}}/...
    displayName: 'Test'
  - script: |
      docker build -t $(serviceName):$(Build.SourceVersion) -f {{.Name}}/deploy/Dockerfile .
    displayName: 'Build image'
